.product-image {
    width: 200px; 
    height: 200px; 
  }
  .container {
    text-align: center;
  }
  
  .buttons-container {
    margin-top: 20px; 
  }
  
  .action-button {
    margin-right: 10px;
  }
  
  