.product-image {
    width: 200px; 
    height: 200px; 
  }
  .container {
    text-align: center;
  }
  
  .buttons-container {
    margin-top: 20px; 
  }
  
  
  

/*Produtos lista */
  .products-container {
    text-align: center;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    width: calc(50% - 20px); 
    margin: 10px; 
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
  }

  .centralizar{
  text-align: center;
  }
  

/*Pedidos lista */
.orders{
  text-align: center;
}


.order-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order-card {
  width: calc(50% - 20px); 
  margin: 10px;  
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
}

/*Busca por id*/
.search-container {
  text-align: center;
  margin-top: 20px;
}

.search{
  border: 2px solid #3a3333;
  padding: 8px;
  border-radius: 5px;
}

input[type="number"],
button {
  margin-right: 10px;
}

.error-message {
  color: red;
}

.product-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* botão */

.button {
  background-color: #517bab; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #48698c; 
}


/* Envio */

.form-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #517bab;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #48698c;
}

